<!-- <jqxGrid #grid [selectionmode]='"multiplerowsadvanced"' [showheader]='false'
 [autoheight]='true' [sortable]='true' [rtl]='true' [source]="dataAdapter">  
 <tr>
   <th>
     telegrams
   </th>
 </tr>
    <tr *ngFor="let telegram of telegrams$ | async">  
      <td>
          <app-telegram-row [telegram]=telegram></app-telegram-row>
          <br>
          what
      </td>
    </tr>  
  </jqxGrid>   -->

<!-- <mat-selection-list >
      <mat-list-option *ngFor="let telegram of telegrams$ | async">  
          <app-telegram-row [telegram]="telegram"></app-telegram-row>
        </mat-list-option>  
  </mat-selection-list > -->

<mat-list>
  <mat-list-item *ngFor="let telegram of telegrams$ | async as telegrams; let i=index" [ngClass]="{selected: checkSelected(telegram.id)}" 
  (click)="telegramSelected(telegram.id, i, telegrams.length)">
      <app-telegram-row [telegram]="telegram"></app-telegram-row>
      <mat-divider></mat-divider>
  </mat-list-item>
    </mat-list>