<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-start">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <app-theme-toggle></app-theme-toggle>
                </li>
                <li>
                    <button mat-icon-button>
                        New Email
                        <mat-icon>email</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        Delete
                        <mat-icon>delete</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>