<mat-selection-list>
    <mat-list-option>
        <app-telegram-row></app-telegram-row>
    </mat-list-option>

    <mat-list-option>
        <app-telegram-row></app-telegram-row>
    </mat-list-option>

    <mat-list-option>
        <app-telegram-row></app-telegram-row>
    </mat-list-option>

    <mat-list-option>
        <app-telegram-row></app-telegram-row>
    </mat-list-option>

    <mat-list-option>
        <app-telegram-row></app-telegram-row>
    </mat-list-option>
</mat-selection-list>