<mat-selection-list role="listbox">
    <mat-list-option checkbo>
        <app-telegram-row></app-telegram-row>
    </mat-list-option>

    <mat-list-option role="option">
        <app-telegram-row></app-telegram-row>
    </mat-list-option>

    <mat-list-option role="option">
        <app-telegram-row></app-telegram-row>
    </mat-list-option>

    <mat-list-option role="option">
        <app-telegram-row></app-telegram-row>
    </mat-list-option>

    <mat-list-option role="option">
        <app-telegram-row></app-telegram-row>
    </mat-list-option>
</mat-selection-list>
